#about {
    .row {
        h2 {
            color: $light-prim-base;
        }
        
        p {
            color: darken($light-prim-base, 10%);
        }
    }

    @media screen and (max-width: 992px) {
        padding: 56px 0;
    }

    padding: 80px 0;

    .about-profile-img{
        width: 80%;
        height: auto;
    }

    .about-img {
        border-radius: 16px;
        // box-shadow: 0px 32px 12px -24px #888888;
    }
}