.card {
  transform: translateY(0);
  padding: 1rem 0;
  border-radius: 8px;
  background: $dark-prim-base !important;
  border: 2px solid $light-prim-base !important;;
  --x: 50%;
  transition:
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: translateY(0);
    background: darken($light-prim-base, 10%) !important;
    --x: 50%;

    .card-icons {
      filter: none;
    }

    p {
        color: $dark-prim-base !important;
        transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    h4 {
      color: $dark-prim-base !important;
      transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &:active {
    transform: translateY(2px);
    --x: 50%;
  }

  h4 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: $light-interactive-prim-base;
    font-family: $primary-font;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  p {
    font-size: 16px;
    color: $light-interactive-prim-base !important;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .card-icons.icon-1 {
    background-image: url('/img/ec-resume.svg');
  }
  
  .card-icons.icon-2 {
    background-image: url('/img/ec-linkedin.svg');
  }
  
  .card-icons.icon-3 {
    background-image: url('/img/ec-email.svg');
  }
  
  .card-icons.icon-4 {
    background-image: url('/img/ec-phone.svg');
  }
  
  .card-icons {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: filter 0.3s ease;
filter: invert(67%) sepia(69%) saturate(719%) hue-rotate(122deg) brightness(94%) contrast(101%);  }
}


.resume-card {
    padding: 1rem 0;
    transition: all 0.25s ease-in-out;
    border-radius: 8px;
    // border-top: 2px solid dark-sec-base;
    // border-bottom: 2px solid dark-sec-base;
    // border-right: 2px solid dark-sec-base;
    // border-left: 2px solid dark-sec-base;
    // background: linear-gradient(-45deg, var(--c1, dark-sec-base), var(--c2, dark-sec-base), var(--c1, dark-sec-base)) var(--x, 0)/ 200%;

    p {
        font-weight: 400;
        font-size: 16px;
    }

    &:hover {
        // border-top: 2px solid dark-sec-base;
        // border-bottom: 2px solid dark-sec-base;
        // border-right: 2px solid dark-sec-base;
        // border-left: 2px solid dark-sec-base;
        transform: translateY(-2px);
        transition: all 0.25s ease-in-out;
        --x: 50%;
    }

    .card-icons {
        width: 48px;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .card, .resume-card{
        padding: 3rem 0;
    }
}